#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/opt/sqldeveloper/icon.png
Exec=/usr/local/bin/sqldeveloper
Name[en_US]=03_Open_SQLDeveloper
Name=SQLDeveloper
Icon=/opt/sqldeveloper/icon.png
