.vscode
_site
.DS_Store
.sw[a-z]
.terraform
*tfstate*
data-management-library/autonomous-database/autonomous-data-warehouse/images/400/substitution_variable.jpg
GitHub Oracle Learning Library Clone - Shortcut.lnk
data-management-library/autonomous-database/autonomous-data-warehouse_PRIOR TO SQLDEV WEB STREAMLINING.zip
