# The last matching pattern has the most precedence.
*                         @snicholspa @flavio-santino @kaymalcolm @tmcginn @tammybednar @kamryn-v
/ai-ml-library/       @kaymalcolm @tammybednar @tmcginn @troyanthony06 @kamryn-v
/analytics-library/       @kaymalcolm @tammybednar @tmcginn @troyanthony06 @kamryn-v @rfontcha
/data-management-library/ @kaymalcolm @tammybednar @tmcginn @troyanthony06 @kamryn-v
/developer-library/       @kaymalcolm @tammybednar @tmcginn @troyanthony06 @kamryn-v @rfontcha
/enterprise-manageability-library/            @dankoloski @davidleroyatoracle @kaymalcolm @tmcginn @rfontcha
/oci-library/             @flavio-santino @umairs123 @enschilling @snafuz @kaymalcolm @tmcginn
/ospa-library/            @jjking2019 @dankingsley001 @AlejandroCasas-oracle
/solutions-library/       @kaymalcolm @tammybednar @tmcginn @troyanthony06 @kamryn-v @rfontcha
/security-library/       @kaymalcolm @tammybednar @tmcginn @troyanthony06 @rfontcha
/workshops/               @snicholspa @chipbaber @kaymalcolm @tmcginn @tammybednar @troyanthony06
