# The last matching pattern has the most precedence.
*                        @flavio-santino @kaymalcolm @kamryn-v @anooshapilli @davidastart @klazarz @malcherm @william-masdon-oracle
/common/               @kaymalcolm @davidastart @klazarz @malcherm
/ai-ml-library/       @kaymalcolm @kamryn-v @troyanthony06 @anooshapilli @davidastart @klazarz @malcherm @william-masdon-oracle
/analytics-library/       @kaymalcolm @troyanthony06 @kamryn-v @rfontcha @anooshapilli @davidastart @klazarz @malcherm @william-masdon-oracle
/data-management-library/ @kaymalcolm @troyanthony06 @kamryn-v @anooshapilli @davidastart @klazarz @malcherm @william-masdon-oracle
/developer-library/       @kaymalcolm @troyanthony06 @kamryn-v @rfontcha @anooshapilli @davidastart @oegentil @flavio-santino @klazarz @malcherm @william-masdon-oracle
/enterprise-manageability-library/       @kaymalcolm @rfontcha @kamryn-v @anooshapilli @davidastart @klazarz @malcherm @william-masdon-oracle
/oci-library/             @flavio-santino @oegentil @kaymalcolm @davidastart @anooshapilli @kamryn-v @klazarz @malcherm @william-masdon-oracle
/ospa-library/            @jjking2019 @dankingsley001 @AlejandroCasas-oracle
/solutions-library/       @kaymalcolm @troyanthony06 @kamryn-v @rfontcha @anooshapilli @davidastart @oegentil @flavio-santino @klazarz @malcherm @william-masdon-oracle
/security-library/       @kaymalcolm @troyanthony06 @rfontcha @anooshapilli @kamryn-v @davidastart @flavio-santino @oegentil @klazarz @malcherm @william-masdon-oracle
/workshops/               @snicholspa @chipbaber @kaymalcolm @troyanthony06 @davidastart @klazarz @malcherm @william-masdon-oracle
