<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<display-name>hr</display-name>
	<context-param>
		<description>JDBC Driver</description>
		<param-name>jdbc.driver</param-name>
		<param-value>oracle.jdbc.driver.OracleDriver</param-value>
	</context-param>
	<context-param>
		<description>JDBC URL</description>
		<param-name>jdbc.url</param-name>
		<param-value>jdbc:oracle:thin:@localhost:1521:orcl</param-value>
	</context-param>
	<context-param>
		<description>JDBC User</description>
		<param-name>jdbc.user</param-name>
		<param-value>demoapps</param-value>
	</context-param>
	<context-param>
		<description>JDBC Password</description>
		<param-name>jdbc.password</param-name>
		<param-value>abcd1234</param-value>
	</context-param>
	<context-param>
		<description>Default Template (default, sample01, etc.)</description>
		<param-name>layout.template</param-name>
		<param-value>default</param-value>
	</context-param>
	<context-param>
		<description>Display tabs (true or false lowercase)</description>
		<param-name>layout.displaytab</param-name>
		<param-value>true</param-value>
	</context-param>
</web-app>
