<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
		<title>HR Application</title> 
		<link rel="stylesheet" href="stylesheet1.css" media="screen">
		<style type="text/css" media="screen">@import url("stylesheet2.css");</style>
		<link rel="stylesheet" href="print.css" media="print">

		<link rel="shortcut icon" href="favicon.ico"/>
	</head>
	<body>
		<div id="container">
			<div id="header" title="HR Application">
				<div id="welcome">Welcome!</div>
				<h1>My HR Application</h1>
			</div>

			<div id="mainnav">
				<ul>
					<li><a href="index.jsp">Home</a></li>
					<li><a href="index.jsp">Help</a></li>
					<li><a href="index.jsp">About</a></li>
					<li><a href="login.jsp">Login</a></li> 
				</ul>
			</div>

			<div id="menu">
				<h3>Welcome!</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
			</div>
			
			<div id="content">
				<div id="minheight"></div>
				<div class="entry">
					<h2><a href="#" title="Permanent link to this item">Latest Employee News</a></h2>

					<h3>Wednesday, 10 July 2008</h3>
					<p>
						<img class="imagefloat" src="images/image.png" alt="" width="100" height="100" border="0">
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. <a href="#">Duis autem vel eum</a> iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.
					</p>
					<p>
						Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
					</p>

					<ul>
						<li><a href="#">Comments (4)</a></li>
					</ul>
				</div>
			</div>
			
			<div id="footer">
				<a href="index.jsp">My HR Application</a> | <a href="#">My Intranet</a> | <a href="#">My Self-Service</a><br/>
				Copyright &copy; My HR Application 2008
			</div>
			
		</div>
	</body>
</html>
